In [1]:
import pandas as pd
import numpy as np

In [2]:
moons = pd.read_csv('../assets/moon_phase_data/moon-phases-2007-UTC.csv')

In [3]:
moons = moons[['datetime', 'phase']]

In [4]:
for i in ['2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017']:
    path = '../assets/moon_phase_data/moon-phases-'+ i + '-UTC.csv'
    new = pd.read_csv(path)
    new = new[['datetime', 'phase']]
    moons = moons.append(new)

In [5]:
all_data = pd.read_csv('../assets/03_df.csv')

In [6]:
moon_map = all_data[['ts_date', 'loc_str', 'gmtoffset']]

In [7]:
moon_map

         ts_date                                            loc_str  gmtoffset
0     2017-11-30                  Manuelita Cocos Island COSTA RICA   -21600.0
1     2017-11-30                  Manuelita Cocos Island COSTA RICA   -21600.0
2     2017-11-25                                                NaN        NaN
3     2017-11-24    Stillwater Cove, Monterey County California USA   -28800.0
4     2017-11-18        Floridana Beach, Brevard County Florida USA   -18000.0
5     2017-11-13                                                NaN        NaN
6     2017-11-13              Avoca Beach New South Wales AUSTRALIA    39600.0
7     2017-11-04           Guardalavaca Beach Holquin Province CUBA   -18000.0
8     2017-10-31               Magnetic Island Queensland AUSTRALIA    36000.0
9     2017-10-28             Birubi Point New South Wales AUSTRALIA    39600.0
10    2017-10-26                White Plains Beach, Oahu Hawaii USA   -36000.0
11    2017-10-23                 Le Goulet Pamplemousses  MAURITIUS    14400.0
12    2017-10-23          Juno Beach, Palm Beach County Florida USA   -18000.0
13    2017-10-23  Ocean Reef Park, Singer Island, Palm Beach Cou...   -18000.0
14    2017-10-22              Normanville South Australia AUSTRALIA    37800.0
15    2017-10-18       Lantana Beach, Palm Beach County Florida USA   -18000.0
16    2017-10-09          Davidsons Beach, Kekaha, Kauai Hawaii USA   -36000.0
17    2017-10-05              Kama‘ole Beach Park, Maui  Hawaii USA   -36000.0
18    2017-10-01     Dyer Island Western Cape Province SOUTH AFRICA     7200.0
19    2017-09-25  Hanna Park, Jacksonville, Duval County Florida...   -18000.0
20    2017-09-25              Gracetown Western Australia AUSTRALIA    28800.0
21    2017-09-24                              Rockaway New York USA   -18000.0
22    2017-09-24                             Fort Worth Florida USA   -18000.0
23    2017-09-20                      Palm Beach County Florida USA   -18000.0
24    2017-09-16                 Gran Canaria  Canary Islands SPAIN        0.0
25    2017-09-16            Ponce Inlet, Volusia County Florida USA   -18000.0
26    2017-09-15         Hawston Western Cape Province SOUTH AFRICA     7200.0
27    2017-09-15                      Nofoali’i  Upolu Island SAMOA        NaN
28    2017-09-14              Esperance Westerm Australia AUSTRALIA    28800.0
29    2017-09-10       Sam's Creek area Westerm Australia AUSTRALIA    28800.0
...          ...                                                ...        ...
1312  2007-05-08                   Keawakapu Beach, Maui Hawaii USA   -36000.0
1313  2007-05-07                                 Naples Florida USA        NaN
1314  2007-05-07                                                NaN        NaN
1315  2007-05-04                                                NaN        NaN
1316         NaN  Mornington Island, Gulf of Carpentaria Queensl...    36000.0
1317  2007-04-26    Hutchinson Island, St. Lucie County Florida USA   -18000.0
1318  2007-04-22       New Smyrna Beach, Volusia County Florida USA   -18000.0
1319  2007-04-20            Florida Keys, Monroe County Florida USA   -18000.0
1320  2007-04-13                Dumbéa South Province NEW CALEDONIA    39600.0
1321  2007-04-09       New Smyrna Beach, Volusia County Florida USA   -18000.0
1322  2007-04-01  Normandy Beach, Hutchinson Island,  St. Lucie ...   -18000.0
1323  2007-03-31  Waveland Beach, Hutchinson Island, St. Lucie C...   -18000.0
1324  2007-03-31               Ras-Alkalb Muhafazat Hadramawt YEMEN        NaN
1325  2007-03-22                          Jupiter Inlet Florida USA   -18000.0
1326  2007-03-21       South Golden Beach New South Wales AUSTRALIA    39600.0
1327  2007-03-20                           Delray Beach Florida USA        NaN
1328  2007-03-14  Moore Park, north of Bundaberg Queensland AUST...    36000.0
1329  2007-03-12      Tiger Shores Beach, Martin County Florida USA        NaN
1330  2007-03-11             Penhryn Island Cook islans NEW ZEALAND   -36000.0
1331  2007-03-05                                                NaN        NaN
1332  2007-02-04             Shelly Beach New South Wales AUSTRALIA        NaN
1333  2007-02-03                Ouvéa Loyalty Islands NEW CALEDONIA    39600.0
1334         NaN          Kaala-Gomen  North Province NEW CALEDONIA    39600.0
1335  2007-01-25          100 miles off Ft. Myers Beach Florida USA   -18000.0
1336  2007-01-25                Cape Howe New South Wales AUSTRALIA    39600.0
1337  2007-01-23          Brunswick Heads New South Wales AUSTRALIA    39600.0
1338  2007-01-19  Second Beach, Port St. John's Eastern Cape Pro...     7200.0
1339  2007-01-14            Sandbar Beach New South Wales AUSTRALIA    39600.0
1340  2007-01-09              Smith Point, Long Island New York USA   -18000.0
1341  2007-01-07                      Majors Bay, Kaua'i Hawaii USA   -36000.0

[1342 rows x 3 columns]

In [8]:
tz_map = pd.read_excel('../assets/timezone_map.xlsx')

In [9]:
tz_map['value'] = tz_map['value'].astype(float)

In [10]:
tz_map.columns = ['gmtoffset', 'value']

In [11]:
len(moon_map)

1342

In [12]:
len(moon_map.drop_duplicates())

1318

In [13]:
moon_map = moon_map.merge(tz_map, on ='gmtoffset', how = 'left').drop_duplicates()

In [14]:
moon_map['ts_date'] = pd.to_datetime(moon_map['ts_date'])

In [15]:
moon_map.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1318 entries, 0 to 5967
Data columns (total 4 columns):
ts_date      1302 non-null datetime64[ns]
loc_str      1215 non-null object
gmtoffset    1061 non-null float64
value        1050 non-null object
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 51.5+ KB

In [16]:
def days_between(d1, d2):
    d1 = str(pd.to_datetime(str(d1)[0:10]))
    d2 = str(pd.to_datetime(str(d2)[0:10]))
    d1 = datetime.strptime(d1, "%Y-%m-%d")
    d2 = datetime.strptime(d2, "%Y-%m-%d")
    return abs((d2 - d1).days)

In [17]:
f = moons['datetime'][4]
g = moons['phase'][4]

In [18]:
list(enumerate(zip(moons['datetime'], moons['phase'])))[0][1][0]

'2007-01-03 13:57:00'

In [19]:
moons['datetime']

0     2007-01-03 13:57:00
1     2007-01-11 12:45:00
2     2007-01-19 04:01:00
3     2007-01-25 23:01:00
4     2007-02-02 05:45:00
5     2007-02-10 09:51:00
6     2007-02-17 16:14:00
7     2007-02-24 07:56:00
8     2007-03-03 23:17:00
9     2007-03-12 03:54:00
10    2007-03-19 02:43:00
11    2007-03-25 18:16:00
12    2007-04-02 17:15:00
13    2007-04-10 18:04:00
14    2007-04-17 11:36:00
15    2007-04-24 06:36:00
16    2007-05-02 10:09:00
17    2007-05-10 04:27:00
18    2007-05-16 19:27:00
19    2007-05-23 21:03:00
20    2007-06-01 01:04:00
21    2007-06-08 11:43:00
22    2007-06-15 03:13:00
23    2007-06-22 13:15:00
24    2007-06-30 13:49:00
25    2007-07-07 16:54:00
26    2007-07-14 12:04:00
27    2007-07-22 06:29:00
28    2007-07-30 00:48:00
29    2007-08-05 21:20:00
             ...
19    2017-05-25 19:44:00
20    2017-06-01 12:42:00
21    2017-06-09 13:10:00
22    2017-06-17 11:33:00
23    2017-06-24 02:31:00
24    2017-07-01 00:51:00
25    2017-07-09 04:07:00
26    2017-07-16 19:26:00
27    2017-07-23 09:46:00
28    2017-07-30 15:23:00
29    2017-08-07 18:11:00
30    2017-08-15 01:15:00
31    2017-08-21 18:30:00
32    2017-08-29 08:13:00
33    2017-09-06 07:03:00
34    2017-09-13 06:25:00
35    2017-09-20 05:30:00
36    2017-09-28 02:54:00
37    2017-10-05 18:40:00
38    2017-10-12 12:25:00
39    2017-10-19 19:12:00
40    2017-10-27 22:22:00
41    2017-11-04 05:23:00
42    2017-11-10 20:36:00
43    2017-11-18 11:42:00
44    2017-11-26 17:03:00
45    2017-12-03 15:47:00
46    2017-12-10 07:51:00
47    2017-12-18 06:30:00
48    2017-12-26 09:20:00
Name: datetime, Length: 544, dtype: object

In [26]:
moon_map['ts_date'][0]

Timestamp('2017-11-30 00:00:00')

In [30]:
moons.reset_index(inplace=True)

In [31]:
(moons['datetime'][0], moons['phase'][0])

('2007-01-03 13:57:00', 'Full Moon')

In [61]:
moon_map['ts_date']

0      2017-11-30
1      2017-11-25
2      2017-11-24
3      2017-11-18
4      2017-11-13
5      2017-11-13
6      2017-11-04
7      2017-10-31
8      2017-10-28
9      2017-10-26
10     2017-10-23
11     2017-10-23
12     2017-10-23
13     2017-10-22
14     2017-10-18
15     2017-10-09
16     2017-10-05
17     2017-10-01
18     2017-09-25
19     2017-09-25
20     2017-09-24
21     2017-09-24
22     2017-09-20
23     2017-09-16
24     2017-09-16
25     2017-09-15
26     2017-09-15
27     2017-09-14
28     2017-09-10
29     2017-09-10
          ...
1288   2007-05-10
1289   2007-05-09
1290   2007-05-08
1291   2007-05-07
1292   2007-05-07
1293   2007-05-04
1294   2007-04-26
1295   2007-04-22
1296   2007-04-20
1297   2007-04-13
1298   2007-04-09
1299   2007-04-01
1300   2007-03-31
1301   2007-03-31
1302   2007-03-22
1303   2007-03-21
1304   2007-03-20
1305   2007-03-14
1306   2007-03-12
1307   2007-03-11
1308   2007-03-05
1309   2007-02-04
1310   2007-02-03
1311   2007-01-25
1312   2007-01-25
1313   2007-01-23
1314   2007-01-19
1315   2007-01-14
1316   2007-01-09
1317   2007-01-07
Name: ts_date, Length: 1318, dtype: datetime64[ns]

In [65]:
moon_phase_list = []
for i in moon_map['ts_date']:
    lowest_difference_between_dates = 0
    for index, date_moon_tuple in enumerate(zip(moons['datetime'], moons['phase'])):

        try:
            a = abs(pd.to_datetime(date_moon_tuple[0])-pd.to_datetime(i))
            b = date_moon_tuple[1]

            if index == 0:
                lowest_difference_between_dates = a
            else:
                if a < lowest_difference_between_dates:
                    lowest_difference_between_dates = a
                    lowest_phase = b
        except:
            continue
    moon_phase_list.append((i, lowest_phase))

In [66]:
moon_phase_list

[(Timestamp('2017-11-30 00:00:00'), 'First Quarter'),
 (Timestamp('2017-11-25 00:00:00'), 'First Quarter'),
 (Timestamp('2017-11-24 00:00:00'), 'First Quarter'),
 (Timestamp('2017-11-18 00:00:00'), 'New Moon'),
 (Timestamp('2017-11-13 00:00:00'), 'Last Quarter'),
 (Timestamp('2017-11-13 00:00:00'), 'Last Quarter'),
 (Timestamp('2017-11-04 00:00:00'), 'Full Moon'),
 (Timestamp('2017-10-31 00:00:00'), 'First Quarter'),
 (Timestamp('2017-10-28 00:00:00'), 'First Quarter'),
 (Timestamp('2017-10-26 00:00:00'), 'First Quarter'),
 (Timestamp('2017-10-23 00:00:00'), 'New Moon'),
 (Timestamp('2017-10-23 00:00:00'), 'New Moon'),
 (Timestamp('2017-10-23 00:00:00'), 'New Moon'),
 (Timestamp('2017-10-22 00:00:00'), 'New Moon'),
 (Timestamp('2017-10-18 00:00:00'), 'New Moon'),
 (Timestamp('2017-10-09 00:00:00'), 'Full Moon'),
 (Timestamp('2017-10-05 00:00:00'), 'Full Moon'),
 (Timestamp('2017-10-01 00:00:00'), 'First Quarter'),
 (Timestamp('2017-09-25 00:00:00'), 'First Quarter'),
 (Timestamp('2017-09-25 00:00:00'), 'First Quarter'),
 (Timestamp('2017-09-24 00:00:00'), 'New Moon'),
 (Timestamp('2017-09-24 00:00:00'), 'New Moon'),
 (Timestamp('2017-09-20 00:00:00'), 'New Moon'),
 (Timestamp('2017-09-16 00:00:00'), 'Last Quarter'),
 (Timestamp('2017-09-16 00:00:00'), 'Last Quarter'),
 (Timestamp('2017-09-15 00:00:00'), 'Last Quarter'),
 (Timestamp('2017-09-15 00:00:00'), 'Last Quarter'),
 (Timestamp('2017-09-14 00:00:00'), 'Last Quarter'),
 (Timestamp('2017-09-10 00:00:00'), 'Last Quarter'),
 (Timestamp('2017-09-10 00:00:00'), 'Last Quarter'),
 (Timestamp('2017-09-06 00:00:00'), 'Full Moon'),
 (Timestamp('2017-09-03 00:00:00'), 'Full Moon'),
 (Timestamp('2017-09-03 00:00:00'), 'Full Moon'),
 (Timestamp('2017-09-02 00:00:00'), 'First Quarter'),
 (Timestamp('2017-09-02 00:00:00'), 'First Quarter'),
 (Timestamp('2017-09-02 00:00:00'), 'First Quarter'),
 (Timestamp('2017-08-29 00:00:00'), 'First Quarter'),
 (Timestamp('2017-08-27 00:00:00'), 'First Quarter'),
 (Timestamp('2017-08-26 00:00:00'), 'First Quarter'),
 (Timestamp('2017-08-26 00:00:00'), 'First Quarter'),
 (Timestamp('2017-08-23 00:00:00'), 'New Moon'),
 (Timestamp('2017-08-18 00:00:00'), 'Last Quarter'),
 (Timestamp('2017-08-10 00:00:00'), 'Full Moon'),
 (Timestamp('2017-08-05 00:00:00'), 'Full Moon'),
 (Timestamp('2017-08-03 00:00:00'), 'First Quarter'),
 (Timestamp('2017-08-01 00:00:00'), 'First Quarter'),
 (Timestamp('2017-07-29 00:00:00'), 'First Quarter'),
 (Timestamp('2017-07-29 00:00:00'), 'First Quarter'),
 (Timestamp('2017-07-27 00:00:00'), 'New Moon'),
 (Timestamp('2017-07-26 00:00:00'), 'New Moon'),
 (Timestamp('2017-07-24 00:00:00'), 'New Moon'),
 (Timestamp('2017-07-23 00:00:00'), 'New Moon'),
 (Timestamp('2017-07-23 00:00:00'), 'New Moon'),
 (Timestamp('2017-07-22 00:00:00'), 'New Moon'),
 (Timestamp('2017-07-20 00:00:00'), 'Last Quarter'),
 (Timestamp('2017-07-20 00:00:00'), 'Last Quarter'),
 (Timestamp('2017-07-20 00:00:00'), 'Last Quarter'),
 (Timestamp('2017-07-16 00:00:00'), 'Last Quarter'),
 (Timestamp('2017-07-11 00:00:00'), 'Full Moon'),
 (Timestamp('2017-07-09 00:00:00'), 'Full Moon'),
 (Timestamp('2017-07-07 00:00:00'), 'Full Moon'),
 (Timestamp('2017-07-07 00:00:00'), 'Full Moon'),
 (Timestamp('2017-07-02 00:00:00'), 'First Quarter'),
 (Timestamp('2017-06-29 00:00:00'), 'First Quarter'),
 (Timestamp('2017-06-21 00:00:00'), 'New Moon'),
 (Timestamp('2017-06-19 00:00:00'), 'Last Quarter'),
 (Timestamp('2017-06-18 00:00:00'), 'Last Quarter'),
 (Timestamp('2017-06-18 00:00:00'), 'Last Quarter'),
 (Timestamp('2017-06-17 00:00:00'), 'Last Quarter'),
 (Timestamp('2017-06-14 00:00:00'), 'Last Quarter'),
 (Timestamp('2017-06-11 00:00:00'), 'Full Moon'),
 (Timestamp('2017-06-10 00:00:00'), 'Full Moon'),
 (Timestamp('2017-06-10 00:00:00'), 'Full Moon'),
 (Timestamp('2017-06-07 00:00:00'), 'Full Moon'),
 (Timestamp('2017-06-04 00:00:00'), 'First Quarter'),
 (Timestamp('2017-06-02 00:00:00'), 'First Quarter'),
 (Timestamp('2017-05-30 00:00:00'), 'First Quarter'),
 (Timestamp('2017-05-28 00:00:00'), 'New Moon'),
 (Timestamp('2017-05-27 00:00:00'), 'New Moon'),
 (Timestamp('2017-05-12 00:00:00'), 'Full Moon'),
 (Timestamp('2017-05-06 00:00:00'), 'First Quarter'),
 (Timestamp('2017-05-06 00:00:00'), 'First Quarter'),
 (Timestamp('2017-05-03 00:00:00'), 'First Quarter'),
 (Timestamp('2017-04-29 00:00:00'), 'New Moon'),
 (Timestamp('2017-04-29 00:00:00'), 'New Moon'),
 (Timestamp('2017-04-29 00:00:00'), 'New Moon'),
 (Timestamp('2017-04-29 00:00:00'), 'New Moon'),
 (Timestamp('2017-04-27 00:00:00'), 'New Moon'),
 (Timestamp('2017-04-26 00:00:00'), 'New Moon'),
 (Timestamp('2017-04-22 00:00:00'), 'Last Quarter'),
 (Timestamp('2017-04-20 00:00:00'), 'Last Quarter'),
 (Timestamp('2017-04-17 00:00:00'), 'Last Quarter'),
 (Timestamp('2017-04-17 00:00:00'), 'Last Quarter'),
 (Timestamp('2017-04-14 00:00:00'), 'Full Moon'),
 (Timestamp('2017-04-13 00:00:00'), 'Full Moon'),
 (Timestamp('2017-04-12 00:00:00'), 'Full Moon'),
 (Timestamp('2017-04-12 00:00:00'), 'Full Moon'),
 (Timestamp('2017-04-11 00:00:00'), 'Full Moon'),
 (Timestamp('2017-04-10 00:00:00'), 'Full Moon'),
 (Timestamp('2017-04-06 00:00:00'), 'First Quarter'),
 (Timestamp('2017-04-05 00:00:00'), 'First Quarter'),
 (Timestamp('2017-04-02 00:00:00'), 'First Quarter'),
 (Timestamp('2017-04-02 00:00:00'), 'First Quarter'),
 (Timestamp('2017-03-27 00:00:00'), 'New Moon'),
 (Timestamp('2017-03-19 00:00:00'), 'Last Quarter'),
 (Timestamp('2017-03-18 00:00:00'), 'Last Quarter'),
 (Timestamp('2017-03-09 00:00:00'), 'First Quarter'),
 (Timestamp('2017-02-25 00:00:00'), 'New Moon'),
 (Timestamp('2017-02-24 00:00:00'), 'New Moon'),
 (Timestamp('2017-02-21 00:00:00'), 'Last Quarter'),
 (Timestamp('2017-02-17 00:00:00'), 'Last Quarter'),
 (Timestamp('2017-02-11 00:00:00'), 'Full Moon'),
 (Timestamp('2017-02-06 00:00:00'), 'First Quarter'),
 (Timestamp('2017-02-06 00:00:00'), 'First Quarter'),
 (Timestamp('2017-02-01 00:00:00'), 'First Quarter'),
 (Timestamp('2017-02-01 00:00:00'), 'First Quarter'),
 (Timestamp('2017-01-22 00:00:00'), 'Last Quarter'),
 (Timestamp('2017-01-21 00:00:00'), 'Last Quarter'),
 (Timestamp('2017-01-13 00:00:00'), 'Full Moon'),
 (Timestamp('2017-01-13 00:00:00'), 'Full Moon'),
 (Timestamp('2017-01-09 00:00:00'), 'First Quarter'),
 (Timestamp('2017-01-08 00:00:00'), 'First Quarter'),
 (Timestamp('2017-01-05 00:00:00'), 'First Quarter'),
 (Timestamp('2017-01-03 00:00:00'), 'First Quarter'),
 (Timestamp('2016-12-27 00:00:00'), 'New Moon'),
 (Timestamp('2016-12-24 00:00:00'), 'Last Quarter'),
 (Timestamp('2016-12-19 00:00:00'), 'Last Quarter'),
 (Timestamp('2016-12-14 00:00:00'), 'Full Moon'),
 (Timestamp('2016-12-11 00:00:00'), 'Full Moon'),
 (Timestamp('2016-12-06 00:00:00'), 'First Quarter'),
 (Timestamp('2016-12-01 00:00:00'), 'New Moon'),
 (Timestamp('2016-11-28 00:00:00'), 'New Moon'),
 (Timestamp('2016-11-14 00:00:00'), 'Full Moon'),
 (Timestamp('2016-10-30 00:00:00'), 'New Moon'),
 (Timestamp('2016-10-29 00:00:00'), 'New Moon'),
 (Timestamp('2016-10-24 00:00:00'), 'Last Quarter'),
 (Timestamp('2016-10-21 00:00:00'), 'Last Quarter'),
 (Timestamp('2016-10-15 00:00:00'), 'Full Moon'),
 (Timestamp('2016-10-14 00:00:00'), 'Full Moon'),
 (Timestamp('2016-10-13 00:00:00'), 'Full Moon'),
 (Timestamp('2016-10-12 00:00:00'), 'First Quarter'),
 (Timestamp('2016-10-10 00:00:00'), 'First Quarter'),
 (Timestamp('2016-10-02 00:00:00'), 'New Moon'),
 (Timestamp('2016-10-01 00:00:00'), 'New Moon'),
 (Timestamp('2016-09-26 00:00:00'), 'Last Quarter'),
 (Timestamp('2016-09-18 00:00:00'), 'Full Moon'),
 (Timestamp('2016-09-17 00:00:00'), 'Full Moon'),
 (Timestamp('2016-09-17 00:00:00'), 'Full Moon'),
 (Timestamp('2016-09-15 00:00:00'), 'Full Moon'),
 (Timestamp('2016-09-15 00:00:00'), 'Full Moon'),
 (Timestamp('2016-09-11 00:00:00'), 'First Quarter'),
 (Timestamp('2016-09-07 00:00:00'), 'First Quarter'),
 (Timestamp('2016-09-06 00:00:00'), 'First Quarter'),
 (Timestamp('2016-09-05 00:00:00'), 'New Moon'),
 (Timestamp('2016-09-05 00:00:00'), 'New Moon'),
 (Timestamp('2016-09-04 00:00:00'), 'New Moon'),
 (Timestamp('2016-09-01 00:00:00'), 'New Moon'),
 (NaT, 'New Moon'),
 (NaT, 'New Moon'),
 (NaT, 'New Moon'),
 (NaT, 'New Moon'),
 (NaT, 'New Moon'),
 (NaT, 'New Moon'),
 (NaT, 'New Moon'),
 (NaT, 'New Moon'),
 (NaT, 'New Moon'),
 (NaT, 'New Moon'),
 (NaT, 'New Moon'),
 (NaT, 'New Moon'),
 (NaT, 'New Moon'),
 (NaT, 'New Moon'),
 (NaT, 'New Moon'),
 (NaT, 'New Moon'),
 (Timestamp('2016-08-29 00:00:00'), 'New Moon'),
 (Timestamp('2016-08-27 00:00:00'), 'Last Quarter'),
 (Timestamp('2016-08-25 00:00:00'), 'Last Quarter'),
 (Timestamp('2016-08-07 00:00:00'), 'First Quarter'),
 (Timestamp('2016-08-06 00:00:00'), 'New Moon'),
 (Timestamp('2016-08-04 00:00:00'), 'New Moon'),
 (Timestamp('2016-07-29 00:00:00'), 'Last Quarter'),
 (Timestamp('2016-07-28 00:00:00'), 'Last Quarter'),
 (Timestamp('2016-07-28 00:00:00'), 'Last Quarter'),
 (Timestamp('2016-07-27 00:00:00'), 'Last Quarter'),
 (Timestamp('2016-07-26 00:00:00'), 'Last Quarter'),
 (Timestamp('2016-07-24 00:00:00'), 'Last Quarter'),
 (Timestamp('2016-07-23 00:00:00'), 'Full Moon'),
 (Timestamp('2016-07-23 00:00:00'), 'Full Moon'),
 (Timestamp('2016-07-20 00:00:00'), 'Full Moon'),
 (Timestamp('2016-07-17 00:00:00'), 'Full Moon'),
 (Timestamp('2016-07-16 00:00:00'), 'Full Moon'),
 (Timestamp('2016-07-15 00:00:00'), 'First Quarter'),
 (Timestamp('2016-07-15 00:00:00'), 'First Quarter'),
 (Timestamp('2016-07-14 00:00:00'), 'First Quarter'),
 (Timestamp('2016-07-08 00:00:00'), 'New Moon'),
 (Timestamp('2016-07-08 00:00:00'), 'New Moon'),
 (Timestamp('2016-07-07 00:00:00'), 'New Moon'),
 (Timestamp('2016-07-07 00:00:00'), 'New Moon'),
 (Timestamp('2016-07-06 00:00:00'), 'New Moon'),
 (Timestamp('2016-07-04 00:00:00'), 'New Moon'),
 (Timestamp('2016-06-27 00:00:00'), 'Last Quarter'),
 (Timestamp('2016-06-25 00:00:00'), 'Last Quarter'),
 (Timestamp('2016-06-24 00:00:00'), 'Full Moon'),
 (Timestamp('2016-06-23 00:00:00'), 'Full Moon'),
 (Timestamp('2016-06-21 00:00:00'), 'Full Moon'),
 (Timestamp('2016-06-21 00:00:00'), 'Full Moon'),
 (Timestamp('2016-06-15 00:00:00'), 'First Quarter'),
 (Timestamp('2016-06-15 00:00:00'), 'First Quarter'),
 (Timestamp('2016-06-14 00:00:00'), 'First Quarter'),
 (Timestamp('2016-06-11 00:00:00'), 'First Quarter'),
 (Timestamp('2016-06-07 00:00:00'), 'New Moon'),
 (Timestamp('2016-06-05 00:00:00'), 'New Moon'),
 (Timestamp('2016-06-05 00:00:00'), 'New Moon'),
 (Timestamp('2016-06-04 00:00:00'), 'New Moon'),
 (Timestamp('2016-06-02 00:00:00'), 'New Moon'),
 (Timestamp('2016-06-02 00:00:00'), 'New Moon'),
 (Timestamp('2016-05-31 00:00:00'), 'Last Quarter'),
 (Timestamp('2016-05-29 00:00:00'), 'Last Quarter'),
 (Timestamp('2016-05-29 00:00:00'), 'Last Quarter'),
 (Timestamp('2016-05-22 00:00:00'), 'Full Moon'),
 (Timestamp('2016-05-21 00:00:00'), 'Full Moon'),
 (Timestamp('2016-05-21 00:00:00'), 'Full Moon'),
 (Timestamp('2016-05-18 00:00:00'), 'Full Moon'),
 (Timestamp('2016-05-15 00:00:00'), 'First Quarter'),
 (Timestamp('2016-05-03 00:00:00'), 'Last Quarter'),
 (Timestamp('2016-05-02 00:00:00'), 'Last Quarter'),
 (Timestamp('2016-04-25 00:00:00'), 'Full Moon'),
 (Timestamp('2016-04-23 00:00:00'), 'Full Moon'),
 (Timestamp('2016-04-22 00:00:00'), 'Full Moon'),
 (Timestamp('2016-04-19 00:00:00'), 'Full Moon'),
 (Timestamp('2016-04-18 00:00:00'), 'First Quarter'),
 (Timestamp('2016-04-13 00:00:00'), 'First Quarter'),
 (Timestamp('2016-04-09 00:00:00'), 'New Moon'),
 (Timestamp('2016-04-08 00:00:00'), 'New Moon'),
 (Timestamp('2016-04-07 00:00:00'), 'New Moon'),
 (Timestamp('2016-04-07 00:00:00'), 'New Moon'),
 (Timestamp('2016-03-31 00:00:00'), 'Last Quarter'),
 (Timestamp('2016-03-30 00:00:00'), 'Last Quarter'),
 (Timestamp('2016-03-28 00:00:00'), 'Last Quarter'),
 (Timestamp('2016-03-28 00:00:00'), 'Last Quarter'),
 (Timestamp('2016-03-26 00:00:00'), 'Full Moon'),
 (Timestamp('2016-03-13 00:00:00'), 'First Quarter'),
 (Timestamp('2016-03-11 00:00:00'), 'New Moon'),
 (Timestamp('2016-03-10 00:00:00'), 'New Moon'),
 (Timestamp('2016-03-04 00:00:00'), 'Last Quarter'),
 (Timestamp('2016-03-03 00:00:00'), 'Last Quarter'),
 (Timestamp('2016-03-02 00:00:00'), 'Last Quarter'),
 (Timestamp('2016-02-22 00:00:00'), 'Full Moon'),
 (Timestamp('2016-02-19 00:00:00'), 'First Quarter'),
 (Timestamp('2016-02-12 00:00:00'), 'First Quarter'),
 (Timestamp('2016-02-10 00:00:00'), 'New Moon'),
 (Timestamp('2016-02-10 00:00:00'), 'New Moon'),
 (Timestamp('2016-02-05 00:00:00'), 'New Moon'),
 (Timestamp('2016-02-04 00:00:00'), 'Last Quarter'),
 (Timestamp('2016-01-29 00:00:00'), 'Last Quarter'),
 (Timestamp('2016-01-28 00:00:00'), 'Full Moon'),
 (Timestamp('2016-01-25 00:00:00'), 'Full Moon'),
 (Timestamp('2016-01-24 00:00:00'), 'Full Moon'),
 (Timestamp('2016-01-24 00:00:00'), 'Full Moon'),
 (Timestamp('2016-01-23 00:00:00'), 'Full Moon'),
 (Timestamp('2016-01-11 00:00:00'), 'New Moon'),
 (Timestamp('2016-01-05 00:00:00'), 'Last Quarter'),
 (Timestamp('2016-01-02 00:00:00'), 'Last Quarter'),
 (Timestamp('2015-12-26 00:00:00'), 'Full Moon'),
 (Timestamp('2015-12-25 00:00:00'), 'Full Moon'),
 (Timestamp('2015-12-22 00:00:00'), 'First Quarter'),
 (Timestamp('2015-12-21 00:00:00'), 'First Quarter'),
 (Timestamp('2015-12-21 00:00:00'), 'First Quarter'),
 (Timestamp('2015-12-19 00:00:00'), 'First Quarter'),
 (Timestamp('2015-12-13 00:00:00'), 'New Moon'),
 (Timestamp('2015-12-11 00:00:00'), 'New Moon'),
 (Timestamp('2015-12-08 00:00:00'), 'New Moon'),
 (Timestamp('2015-11-20 00:00:00'), 'First Quarter'),
 (Timestamp('2015-11-16 00:00:00'), 'First Quarter'),
 (Timestamp('2015-11-15 00:00:00'), 'New Moon'),
 (Timestamp('2015-11-15 00:00:00'), 'New Moon'),
 (Timestamp('2015-11-10 00:00:00'), 'New Moon'),
 (Timestamp('2015-12-23 00:00:00'), 'Full Moon'),
 (Timestamp('2015-11-03 00:00:00'), 'Last Quarter'),
 (Timestamp('2015-11-01 00:00:00'), 'Last Quarter'),
 (Timestamp('2015-11-01 00:00:00'), 'Last Quarter'),
 (Timestamp('2015-10-30 00:00:00'), 'Full Moon'),
 (Timestamp('2015-10-28 00:00:00'), 'Full Moon'),
 (Timestamp('2015-10-25 00:00:00'), 'Full Moon'),
 (Timestamp('2015-10-21 00:00:00'), 'First Quarter'),
 (Timestamp('2015-10-19 00:00:00'), 'First Quarter'),
 (Timestamp('2015-10-17 00:00:00'), 'First Quarter'),
 (Timestamp('2015-10-17 00:00:00'), 'First Quarter'),
 (Timestamp('2015-10-17 00:00:00'), 'First Quarter'),
 (Timestamp('2015-10-13 00:00:00'), 'New Moon'),
 (Timestamp('2015-10-09 00:00:00'), 'New Moon'),
 (Timestamp('2015-10-09 00:00:00'), 'New Moon'),
 (Timestamp('2015-10-08 00:00:00'), 'Last Quarter'),
 (Timestamp('2015-10-07 00:00:00'), 'Last Quarter'),
 (Timestamp('2015-10-05 00:00:00'), 'Last Quarter'),
 (Timestamp('2015-10-05 00:00:00'), 'Last Quarter'),
 (Timestamp('2015-10-04 00:00:00'), 'Last Quarter'),
 (Timestamp('2015-09-29 00:00:00'), 'Full Moon'),
 (Timestamp('2015-09-26 00:00:00'), 'Full Moon'),
 (Timestamp('2015-09-24 00:00:00'), 'First Quarter'),
 (Timestamp('2015-09-20 00:00:00'), 'First Quarter'),
 (Timestamp('2015-09-20 00:00:00'), 'First Quarter'),
 (Timestamp('2015-09-20 00:00:00'), 'First Quarter'),
 (Timestamp('2015-09-20 00:00:00'), 'First Quarter'),
 (Timestamp('2015-09-18 00:00:00'), 'First Quarter'),
 (Timestamp('2015-09-17 00:00:00'), 'New Moon'),
 (Timestamp('2015-09-08 00:00:00'), 'Last Quarter'),
 (Timestamp('2015-09-06 00:00:00'), 'Last Quarter'),
 (Timestamp('2015-09-05 00:00:00'), 'Last Quarter'),
 (Timestamp('2015-09-04 00:00:00'), 'Last Quarter'),
 (Timestamp('2015-09-03 00:00:00'), 'Last Quarter'),
 (Timestamp('2015-09-01 00:00:00'), 'Full Moon'),
 (Timestamp('2015-08-29 00:00:00'), 'Full Moon'),
 (Timestamp('2015-08-29 00:00:00'), 'Full Moon'),
 (Timestamp('2015-08-22 00:00:00'), 'First Quarter'),
 (Timestamp('2015-08-22 00:00:00'), 'First Quarter'),
 (Timestamp('2015-08-20 00:00:00'), 'First Quarter'),
 (Timestamp('2015-08-19 00:00:00'), 'First Quarter'),
 (Timestamp('2015-08-18 00:00:00'), 'New Moon'),
 (Timestamp('2015-08-18 00:00:00'), 'New Moon'),
 (Timestamp('2015-08-10 00:00:00'), 'Last Quarter'),
 (Timestamp('2015-07-31 00:00:00'), 'Full Moon'),
 (Timestamp('2015-07-28 00:00:00'), 'Full Moon'),
 (Timestamp('2015-07-27 00:00:00'), 'First Quarter'),
 (Timestamp('2015-07-26 00:00:00'), 'First Quarter'),
 (Timestamp('2015-07-26 00:00:00'), 'First Quarter'),
 (Timestamp('2015-07-25 00:00:00'), 'First Quarter'),
 (Timestamp('2015-07-23 00:00:00'), 'First Quarter'),
 (Timestamp('2015-07-23 00:00:00'), 'First Quarter'),
 (Timestamp('2015-07-22 00:00:00'), 'First Quarter'),
 (Timestamp('2015-07-19 00:00:00'), 'New Moon'),
 (Timestamp('2015-07-01 00:00:00'), 'Full Moon'),
 (Timestamp('2015-07-01 00:00:00'), 'Full Moon'),
 (Timestamp('2015-07-08 00:00:00'), 'Last Quarter'),
 (Timestamp('2015-07-06 00:00:00'), 'Last Quarter'),
 (Timestamp('2015-07-04 00:00:00'), 'Full Moon'),
 (Timestamp('2015-07-04 00:00:00'), 'Full Moon'),
 (Timestamp('2015-07-03 00:00:00'), 'Full Moon'),
 (Timestamp('2015-07-02 00:00:00'), 'Full Moon'),
 (Timestamp('2015-06-30 00:00:00'), 'Full Moon'),
 (Timestamp('2015-06-30 00:00:00'), 'Full Moon'),
 (Timestamp('2015-06-27 00:00:00'), 'First Quarter'),
 (Timestamp('2015-06-27 00:00:00'), 'First Quarter'),
 (Timestamp('2015-06-26 00:00:00'), 'First Quarter'),
 (Timestamp('2015-06-26 00:00:00'), 'First Quarter'),
 (Timestamp('2015-06-26 00:00:00'), 'First Quarter'),
 (Timestamp('2015-06-25 00:00:00'), 'First Quarter'),
 (Timestamp('2015-06-25 00:00:00'), 'First Quarter'),
 (Timestamp('2015-06-24 00:00:00'), 'First Quarter'),
 (Timestamp('2015-06-24 00:00:00'), 'First Quarter'),
 (Timestamp('2015-06-23 00:00:00'), 'First Quarter'),
 (Timestamp('2015-06-19 00:00:00'), 'New Moon'),
 (Timestamp('2015-06-17 00:00:00'), 'New Moon'),
 (Timestamp('2015-06-14 00:00:00'), 'New Moon'),
 (Timestamp('2015-06-13 00:00:00'), 'Last Quarter'),
 (Timestamp('2015-06-11 00:00:00'), 'Last Quarter'),
 (Timestamp('2015-06-07 00:00:00'), 'Last Quarter'),
 (Timestamp('2015-06-05 00:00:00'), 'Full Moon'),
 (Timestamp('2015-06-01 00:00:00'), 'Full Moon'),
 (Timestamp('2015-05-29 00:00:00'), 'First Quarter'),
 (Timestamp('2015-05-29 00:00:00'), 'First Quarter'),
 (Timestamp('2015-05-25 00:00:00'), 'First Quarter'),
 (Timestamp('2015-05-24 00:00:00'), 'First Quarter'),
 (Timestamp('2015-05-20 00:00:00'), 'New Moon'),
 (Timestamp('2015-05-15 00:00:00'), 'New Moon'),
 (Timestamp('2015-05-09 00:00:00'), 'Last Quarter'),
 (Timestamp('2015-05-07 00:00:00'), 'Full Moon'),
 (Timestamp('2015-05-03 00:00:00'), 'Full Moon'),
 (Timestamp('2015-05-02 00:00:00'), 'Full Moon'),
 (Timestamp('2015-04-29 00:00:00'), 'First Quarter'),
 (Timestamp('2015-04-26 00:00:00'), 'First Quarter'),
 (Timestamp('2015-04-25 00:00:00'), 'First Quarter'),
 (Timestamp('2015-04-24 00:00:00'), 'First Quarter'),
 (Timestamp('2015-04-13 00:00:00'), 'Last Quarter'),
 (Timestamp('2015-04-12 00:00:00'), 'Last Quarter'),
 (Timestamp('2015-04-03 00:00:00'), 'Full Moon'),
 (Timestamp('2015-04-11 00:00:00'), 'Last Quarter'),
 (Timestamp('2015-03-29 00:00:00'), 'First Quarter'),
 (Timestamp('2015-03-31 00:00:00'), 'First Quarter'),
 (Timestamp('2015-03-26 00:00:00'), 'First Quarter'),
 (Timestamp('2015-03-21 00:00:00'), 'New Moon'),
 (Timestamp('2015-03-18 00:00:00'), 'New Moon'),
 (Timestamp('2015-03-16 00:00:00'), 'Last Quarter'),
 (Timestamp('2015-03-11 00:00:00'), 'Last Quarter'),
 (Timestamp('2015-03-10 00:00:00'), 'Last Quarter'),
 (Timestamp('2015-03-07 00:00:00'), 'Full Moon'),
 (Timestamp('2015-02-15 00:00:00'), 'Last Quarter'),
 (Timestamp('2015-02-14 00:00:00'), 'Last Quarter'),
 (Timestamp('2015-02-09 00:00:00'), 'Last Quarter'),
 (Timestamp('2015-02-08 00:00:00'), 'Full Moon'),
 (Timestamp('2015-02-05 00:00:00'), 'Full Moon'),
 (Timestamp('2015-01-30 00:00:00'), 'First Quarter'),
 (Timestamp('2015-01-27 00:00:00'), 'First Quarter'),
 (Timestamp('2015-01-24 00:00:00'), 'First Quarter'),
 (Timestamp('2015-01-23 00:00:00'), 'New Moon'),
 (Timestamp('2015-01-19 00:00:00'), 'New Moon'),
 (Timestamp('2015-01-19 00:00:00'), 'New Moon'),

In [67]:
moon_phase_list = pd.DataFrame(moon_phase_list).drop_duplicates(subset = 0)

In [68]:
moon_phase_list.reset_index(inplace=True)

In [69]:
moon_phase_list.drop('index', axis =1, inplace =True)

In [70]:
moon_phase_list.columns = ['ts_date', 'phase']

In [71]:
moon_phase_list.phase.value_counts()

Last Quarter     289
First Quarter    278
Full Moon        255
New Moon         248
Name: phase, dtype: int64

In [72]:
len(moon_map)

1318

In [74]:
moon_map = moon_map.merge(moon_phase_list, on = 'ts_date', how = 'outer')

In [94]:
moon_map.head()

,ts_date,loc_str,gmtoffset,value,phase_y
0,2017-11-30,Manuelita Cocos Island COSTA RICA,-21600.0,-06:00,First Quarter
1,2017-11-25,NaN,NaN,NaN,First Quarter
2,2017-11-24,"Stillwater Cove, Monterey County California USA",-28800.0,-08:00,First Quarter
3,2017-11-18,"Floridana Beach, Brevard County Florida USA",-18000.0,-05:00,New Moon
4,2017-11-13,NaN,NaN,NaN,Last Quarter

In [92]:
a_list=[]
for i in moon_map['value']:
    try:
        x = int(str(i)[0:3])
    except:
        x = None
    a_list.append(x)

In [95]:
moon_map['gmtoffset'] = a_list

In [97]:
moon_map.drop('value',axis=1,inplace=True)

In [104]:
moon_map.to_csv('../assets/moon_map.csv')